<form class="p-3">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre:</label>
    <input class="form-control" type="text" id="nombre" [disabled]="enviando" />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Correo electrónico</label>
    <input
      class="form-control"
      type="email"
      placeholder="name@example.com"
      id="email"
      [disabled]="enviando"
    />
  </div>
  <div class="mb-3">
    <label for="mensaje" class="form-label">Mensaje:</label>
    <textarea
      class="form-control"
      rows="3"
      [(ngModel)]="mensaje"
      name="textoMensaje"
      [disabled]="enviando"
    ></textarea>
    <br />
  </div>
  <div *ngIf="!enviando">
    <div class="text-center">
      <button class="btn btn-primary me-2" (click)="enviarMensaje()">
        Enviar
      </button>
      <button class="btn btn-primary ms-2" (click)="volverAtras()">
        Volver
      </button>
    </div>
  </div>
  <div *ngIf="detalles">
    {{ detalles }}
  </div>
</form>
